@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #48a0db;
  --light-gray: #f2f4f6;
  --deep-gray: #d8d9db;
  --light-primary: #daecf7;
}

*::-webkit-scrollbar{
  width: 1px;
}

.option-label {
  border: 2px solid transparent;
}

.mqc {
  color: gray;
}

.i {
  opacity: 0;
}

.check-input:checked ~ .label .i {
  opacity: 1;

}

.input-container .radio-option:checked ~ .option-label .mqc {
  color: var(--primary);
}


